.list-Item {
  list-style-type: none;
  border-bottom: 1px solid #e7e5ea;
  width: 100%;
}

.container-eachTitle-publishedDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  color: #12022f;
}

.description-publishedDate {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #9aa5b1;
}

.description-blog {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #9aa5b1;
}
